<div class="container-fluid text-justify">
  <div class="row">
    <div class="col">
      <h2 class="text-center header p-5">{{ name }}'s To Do List</h2>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col p-4">
      <input [(ngModel)]="todoInput">
      <button class="btn btn-success" (click)="createTodo()">Click to add a chore</button>
    </div>
  </div>
  <p *ngFor="let chore of todos">
    {{ chore }}
    <i class="fas fa-pencil-alt" (click)="editTodo(chore)"></i>
    <i class="fas fa-trash-alt" (click)="deleteTodo(chore)"></i>
  </p>



</div>